@font-face {
  font-family: 'Risk';

  src: url(../fonts/risk-font.ttf) format("truetype");
}
.riskicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Risk';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.riskicon-soldier:before { content: "!"; }
.riskicon-afghanistan:before { content: "A"; }
.riskicon-alaska:before { content: "B"; }
.riskicon-alberta:before { content: "C"; }
.riskicon-argentina:before { content: "D"; }
.riskicon-brazil:before { content: "E"; }
.riskicon-central_america:before { content: "F"; }
.riskicon-china:before { content: "G"; }
.riskicon-congo:before { content: "H"; }
.riskicon-east_africa:before { content: "I"; }
.riskicon-eastern_australia:before { content: "J"; }
.riskicon-eastern_united_states:before { content: "K"; }
.riskicon-egypt:before { content: "L"; }
.riskicon-great_britain:before { content: "M"; }
.riskicon-greenland:before { content: "N"; }
.riskicon-iceland:before { content: "O"; }
.riskicon-india:before { content: "P"; }
.riskicon-indonesia:before { content: "Q"; }
.riskicon-irkutsk:before { content: "R"; }
.riskicon-japan:before { content: "S"; }
.riskicon-kamchatka:before { content: "T"; }
.riskicon-madagascar:before { content: "U"; }
.riskicon-middle_east:before { content: "V"; }
.riskicon-mongolia:before { content: "W"; }
.riskicon-new_guinea:before { content: "X"; }
.riskicon-north_africa:before { content: "Y"; }
.riskicon-northern_europe:before { content: "Z"; }
.riskicon-northwest_territory:before { content: "a"; }
.riskicon-ontario:before { content: "b"; }
.riskicon-peru:before { content: "c"; }
.riskicon-quebec:before { content: "d"; }
.riskicon-scandinavia:before { content: "e"; }
.riskicon-siam:before { content: "f"; }
.riskicon-siberia:before { content: "g"; }
.riskicon-south_africa:before { content: "h"; }
.riskicon-southern_europe:before { content: "i"; }
.riskicon-ukraine:before { content: "j"; }
.riskicon-ural:before { content: "k"; }
.riskicon-venezuela:before { content: "l"; }
.riskicon-western_australia:before { content: "m"; }
.riskicon-western_europe:before { content: "n"; }
.riskicon-western_united_states:before { content: "o"; }
.riskicon-yakursk:before { content: "p"; }
